<div class="card">
    <div class="card-body">
        <h6 class="text-center">
            List of Products
        </h6>
        <table class="table table-sm table-striped">
            <tbody>
                <tr *ngFor="let product of productList">
                    <td>{{ product.product }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <button (click)="editProduct(product)" class="btn btn-secondary mr-2 btn-sm text-white">
                  <i class="far fa-edit"></i>
              </button>
                        <button (click)="deleteProduct(product.id)" class="btn btn-danger mr-2 btn-sm text-white">
                  <i class="fas fa-trash-alt"></i>
              </button>
                        <button (click)="update(product.id)" class="btn btn-info btn-sm text-white">
                  <i class="fas fa-baby"></i>
              </button>
                </tr>
            </tbody>
        </table>
    </div>
</div>